@model gb538515Mis4200.Models.Visit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.visitCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.visitCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pawExamination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pawExamination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.furHealth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.furHealth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.heartRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.heartRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.visitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
