@model gb538515Mis4200.Models.petDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>petDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pet.animalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.animalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medicineOrdered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicineOrdered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ownerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ownerAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.petDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
